.DS_Store
/target
/lib
/classes/
/checkouts
/prod-resources
/logs
pom.xml
*.class
*.jar
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.idea
.eclipse
.settings
.classpath
.project
*.iml
